[defaults]
interpreter_python = /usr/bin/python3
inventory = hosts
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

http_proxy = http://127.0.0.1:7890
https_proxy = http://127.0.0.1:7890

# Show diffs of changes
[diff]
always = True

# #Pipelining will make Ansible run faster by significantly 
# #reducing the number of new SSH connections that must be opened.
# [ssh_connection]
# pipelining = true